#conversation_1, #conversation_2 {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 30px;

    border-radius: 20px;
    background: var(--ctp-latte-base);
    color: var(--ctp-latte-text);
    box-shadow: 0px 0px 60px #d9d9d9;
}

.username_1, .username_2 {
    font-size: 14px;
    font-weight: bold;
}

.username_1 {
    color: var(--ctp-latte-mauve);
}

.username_2 {
    color: var(--ctp-latte-maroon);
}

.time {
    color: grey;
    font-size: 12px;
}