header {
    margin-bottom: 2em;
}

#rules,
#rules > div {
    display: flex;
    flex-direction: column;
}

#rules {
    gap: 1em;
}

.rTitle {
    font-weight: bold;
}

.rDescription {
    color: var(--ctp-latte-text);
}

.rBox {
    border: 2px solid var(--ctp-latte-text);
    border-radius: 10px;
    padding: 1em;
}
