@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: var(--ctp-latte-base);

    min-height: 100vh;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-style: italic;
    color: var(--ctp-latte-subtext1);
}

header {
    margin-bottom: 2em;
}

#rules, #rules > div {
    display: flex;
    flex-direction: column;
}

#rules {
    gap: 2em;
}

.rTitle {
    font-weight: bold;
}

.rDescription {
    color: var(--ctp-latte-text)
}

svg {
    max-width: 20px;
    text-rendering: optimizeLegibility;
}

footer {
    margin: 2em 0;
}

footer > div {
    display: flex;
    align-items: center;
    gap: 5px;
}